<div class="black-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-10">
        <h1 class="title-cocktail">
          Today's lunch cocktail is
          <%= @cocktail.name.upcase %>
          <br>
          <br>
          because you only have
          <%= @break.time %>
        </h1>
      </div>

      <div class="martini-spill">
        <%= image_tag "martinispill.png" %>
      </div>


      <div class="col-xs-5">
        <div class="ingredient">
          <p>The ingredients of <%= @cocktail.name.upcase %> are</p>
          <br>
          <% if params[:random] != nil %>
          <p>2 shots of <%= Ingredient.all.sample.name %></p>
          <p>3 slices of <%= Normal.all.sample.name %></p>
          <p>generous amount of  <%= Normal.all.sample.name %></p>
          <p>hint of <%= Weird.all.sample.name %></p>
          <% end %>

          <% if params[:random] == nil %>
          <p>2 shots of <%= Ingredient.all.sample.name %></p>
          <p>3 slices of <%= Normal.all.sample.name %></p>
          <p>generous amount of  <%= Normal.all.sample.name %></p>
          <p>hint of <%= Normal.all.sample.name %></p>
          <% end %>

          <br>
          <%= link_to "make it stronger", new_cocktail_dose_path(@cocktail)  %>
          <br>
          <p>
            <br>
            <% @cocktail.doses.each do |dose| %>
            <%= dose.description %>
            <%= dose.ingredient.name %> <br>
            <%= link_to "delete this extra shot", cocktail_dose_path(@cocktail, dose), method: :delete %> <br>
            <% end %>
          </p>
          <br>
          <%= link_to "generate a new cokctail", cocktails_path %>
        </div>
      </div>
    </div>
  </div>



</div>
